[submodule "src/src/content"]
	path = src/src/content
	url = https://github.com/ishaanparlikar/portfolio-content.git
[submodule "src/content"]
	path = src/content
	url = https://github.com/ishaanparlikar/portfolio-content.git
