---
import SimpleLayout from "@layout/SimpleLayout.astro"
import Link from "@components/common/Link.astro";
---


<SimpleLayout>

    <div class="max-w-2xl flex flex-col gap-12 ">
      <h2>namaste.</h2>
      <p>I am a Software Engineer works in Javascript eco-system. I am a OSS contributor. You can view my work on <Link href="#" active={true} text="Github"/></p>
    </div>

</SimpleLayout>
