---
import SimpleLayout from "@layout/SimpleLayout.astro";
import Link from "@components/common/Link.astro";
import About from "@components/About.astro";
import Skills from "@components/Skills.astro";
import Projects from "@components/Projects.astro";
import Experience from "@components/Experience.astro";
import ContactMe from "@components/ContactMe.astro";
import Education from "@components/Education.astro";
import type experience from "src/interface/experience";
import type { ProjectsType } from "src/interface/projects";
import RecentBlogs from "@components/RecentBlogs.astro";
import type { BlogsType } from "src/interface/blogs";
---

<SimpleLayout>
  <title slot="head">Ishan Parlikar</title>
  <h1>
    Site is under construction
  </h1>
  <div class="hidden flex flex-col gap-1">
    <h2>namaste.</h2>
    <p class="mt-4">
      I am a Software Engineer works in Javascript eco-system. I am a OSS
      contributor. You can view my work on <Link href="#" text="Github" />
    </p>
    <p>Learn more about, <Link href="/bio" text="Me" /></p>
    <p>Check out, <Link href="/uses" text="what I use" /></p>
    <p>Read my, <Link href="/blogs" text="blogs" /></p>

    <!-- <Skills /> -->
    <!-- <Projects /> -->
    <!-- <ContactMe /> -->
    <!-- <Education/> -->
  </div>
  <!-- <RecentBlogs /> -->
</SimpleLayout>
