---
import { getCollection } from "astro:content";
const aboutData = await getCollection("about");
---

<section class="text-text my-5" id="About" data-section-id="About">
  <p>{aboutData[0].body}</p>
</section>
