---
import { getCollection, getEntry } from "astro:content";
const aboutData = await getEntry("about", "about");
---

<section class="text-text my-5" id="About" data-section-id="About">
  <p>{aboutData.body}</p>
</section>
