---
import { getCollection } from "astro:content";
const aboutData = await getCollection("about")
console.log(aboutData)
---


<section
  class="bg-base dark:bg-text p-6 text-text h-screen  w-full flex flex-col gap-5 items-center justify-center  my-5"
  id="about"
>
 
  <h1 class="text-4xl font-bold">{aboutData[0].data.name}</h1>


  <h4 class="text-normal text-xl">About me</h4>

  <p>{aboutData[0].data.description}</p>
</section>
