<section class="my-2 rounded">

  <div class="py-4 px-6 mb-4 rounded bg-teal w-full text-crust">
    <h1 class="text-2xl font-medium">My Experiences</h1>
  </div>

  <div class="w-full px-6 py-16 rounded border-teal border-solid border-2">
  </div>
</section>
