---
import { getCollection } from "astro:content";
import type experience from "src/interface/experience";
interface Props {
  experiences: experience[];
}
const { experiences } = Astro.props;
import { Icon } from "astro-icon";
import Card from "./common/Card.astro";
---

<section class="my-2 rounded section" id="Work" data-section-id="Work">
  <div class="grid grid-cols-1 gap-xr3 gap-y-6 w-full rounded">
    {
      experiences.map((exp) => {
        return (
          <>
            <Card
              duration={`${exp.attributes.start_date}-${exp.attributes.end_date ?? "present"}`}
              title={exp.attributes.company_name}
              desc={exp.attributes.description}
              position={exp.attributes.role}
            />
          </>
        );
      })
    }
  </div>
</section>
