---
---

<nav
  class="fixed w-full  left-1/2 -translate-x-1/2 text-blue max-w-[90%] lg:max-w-5xl lg:mx-auto backdrop-blur border-2 border-solid bg-neutral border-lavender text-primary py-3 px-6 rounded-full flex items-center justify-between"
>
  <div>Logo</div>

  <div>links</div>
  <div>
    <input type="checkbox" id="toggleTheme" />
  </div>
</nav>

<script>
  const toggleTheme: HTMLElement | HTMLInputElement = document.getElementById(
    "toggleTheme"
  ) as HTMLElement;
  function switchTheme(e: any) {
    if (e.target.checked) {
      document.documentElement.setAttribute("class", "latte");
    } else {
      document.documentElement.setAttribute("class", "mocha");
    }
  }

  toggleTheme.addEventListener("change", switchTheme, false);
</script>
