---
import { getCollection } from "astro:content";
import Slider from "./common/Slider.astro";
import Card from "./common/Card.astro";
import type { ProjectsType } from "src/interface/projects";

const projects: ProjectsType[] = await getCollection("Projects");
console.log(projects);
---

<div id="projects" class="my-10">
  <h3 class="text-2xl">Things I have built</h3>
  {
    projects.map(({ data, body }) => {
      return (
        <>
          <a href={data.link} target="_blank">
            <Card title={data.title} desc={body} pills={data?.pills} />
          </a>
        </>
      );
    })
  }
</div>
