---
import { getCollection } from "astro:content";
import Slider from "./common/Slider.astro";

const projects = await getCollection("work")
---

<section
  class="section my-4 flex flex-col items-center justify-center"
  id="Projects"
  data-section-id="Projects"
>
  <div class="py-4 px-6 mb-4 rounded bg-mauve w-full">
    <h1 class="text-2xl font-medium text-crust">Projects</h1>
  </div>
  <div class="min-h-full w-full px-6 py-16 rounded border-mauve text-text border-solid border-2 ">
   <Slider data={projects} client:load/> 
  </div>
</section>
