---
interface Props {
  data: ProjectsType[];
}
import { getCollection } from "astro:content";
import Slider from "./common/Slider.astro";
import Card from "./common/Card.astro";
import type { ProjectsType } from "src/interface/projects";

const { data } = Astro.props;
---

<div id="projects" class="my-10">
  <h3 class="text-2xl">Things I have built</h3>
  {
    data.map((project) => {
      return (
        <>
          <a href={project.attributes.link} target="_blank">
            <Card
              title={project.attributes.title}
              desc={project.attributes.description}
              pills={project?.attributes.pills}
            />
          </a>
        </>
      );
    })
  }
</div>
