---
import Pills from "./common/Pills.astro";
---

<section
  class="my-4  flex flex-col items-center justify-center"
  id="skills"
>
  <div class="w-full px-6 py-16 rounded bg-lavender">
    <h1 class="font-extrabold text-2xl mb-6 text-base">About my tech stacks</h1>
    <div class="text-crust flex gap-5 items-center justify-center">
      <Pills icon={"I"} name="Skill 1" />
      <Pills icon={"I"} name="Skill 1" />
      <Pills icon={"I"} name="Skill 1" />
      <Pills icon={"I"} name="Skill 1" />
      <Pills icon={"I"} name="Skill 1" />
    </div>
  </div>
</section>
