---
interface Props {
  icon: HTMLElement | string;
  name: string;
}
const { icon, name } = Astro.props;
---

<div
  class="card relative flex h-28 w-[20%]  flex-col items-center justify-center gap-1 rounded-md border border-rosewater border-solid bg-transparent p-8 text-text   shadow-md  transition-all hover:z-10 hover:origin-center  hover:text-neutral-1000 hover:shadow hover:shadow-rosewater active:!scale-105  lg:hover:!scale-110"
>
  <div>{icon}</div>
  <p class="font-bold">{name}</p>
</div>
