---
import Navbar2 from "../components/Navbar2.astro";
import "../styles/globals.scss";
---

<html lang="en" class="mocha">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ishan Parlikar Portfolio</title>
    <script>
    if (localStorage.theme === 'mocha' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('mocha')
    } else {
      document.documentElement.classList.add('latte')
      document.documentElement.classList.remove('mocha')
      document.getElementById("toggleTheme").checked = true
    }

    </script>
  </head>
  <body class="bg-base flex min-h-screen">
    <header class="w-56 ">
      <Navbar2 />
    </header>
    <main class="max-w-4xl rounded-lg mx-auto">
      <slot />
    </main>
  </body>
</html>
